/* Paleta de Colores: Rojo (#dc3545), Negro (#212529), Blanco (#ffffff) */

body {
  font-family: 'Poppins', sans-serif;
  background-color: #f8f9fa; /* Gris muy claro (casi blanco) */
}

/* Colores del Club */
.club-red {
    color: #dc3545 !important;
}
.btn-club-primary {
    background-color: #dc3545;
    border-color: #dc3545;
    color: white;
}
.btn-club-primary:hover {
    background-color: #c82333;
    border-color: #bd2130;
    color: white;
}
.btn-club-dark {
    background-color: #212529;
    border-color: #212529;
    color: white;
}
.btn-club-dark:hover {
    background-color: #0d0e10;
    border-color: #0d0e10;
    color: white;
}
.border-club {
    border-top: 5px solid #dc3545;
}

#planOutput {
  background: #fff;
  padding: 20px 30px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1); /* Sombra más pronunciada */
}

.table thead {
  background-color: #fbe6e8; /* Rojo muy claro */
}

.table th {
    color: #212529; /* Negro */
}

.btn-download {
  margin-top: 20px;
}